
@font-face {
    font-family: Poppins-Regular;
    src:url(../fonts/Poppins-Regular.eot) format("eot"),
        url(../fonts/Poppins-Regular.ttf) format("ttf"),
        url(../fonts/Poppins-Regular.woff) format("woff"),
        url(../fonts/Poppins-Regular.woff2) format("woff2");
}

